<div id="<%= dom_id category %>">
  <p>
    <strong>Name:</strong>
    <%= category.name %>
  </p>

  <p>
    <strong>Transactions:</strong>
    <% category.transactions.each do |item| %>
    <br><br><p><%= item.icon %></p>
    <h4>Amount: </h4><p><%= item.name %></p>
    <% end %>
  </p>

</div>
