<p style="color: green"><%= notice %></p>

<%= render @category %>

<div>
  <br><%= link_to transactions_path do%>
    <section class="bg-primary shadow text-center text-white p-2 mt-5">
    <p class="border border-white my-3 p-1">All my transactions</p>
  </section>
  <% end %>

  <%= link_to new_transaction_path,class:"nav-link" do %>
  <section class="bg-success shadow text-center text-white p-2">
    <p class="border border-white my-3 p-1">Add New Transaction</p>
  </section>
<% end %>
</div>
